+++
title = "CloudSpec"
linkTitle = "CloudSpec"

+++

{{< blocks/cover title="Welcome to CloudSpec!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/efoncubierta/cloudspec">
		Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Cloud resources validation made easy. The favourite tool of cloud shepherds.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section >}}

<p align="center"><img style="max-width: 100%" src="/images/demo.gif?raw=true"/></p>

{{< /blocks/section >}}

{{% blocks/lead %}}
CloudSpec is an open source tool for validating your resources in your cloud providers using a logical language that
everybody can understand. With its reasonably simple syntax, you can validate the configuration of your cloud resources,
avoiding mistakes that can lead to availability or confidentiality issues.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/efoncubierta/cloudspec" %}}
We do a [Pull Request](https://github.com/efoncubierta/cloudspec/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/CloudSpecTool" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}
